*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--dark: #2f2f2f;
	--grey: #757575;
	--light: #fffbfe;
	--green: #0e7c7b;
	--pink: #ff007f;
	--purple: #8b80f9;
	font-size: 10px;
}
html,
body {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
#canv {
	display: block;
	background-color: var(--dark);
}
.final-box {
	z-index: 2;
	font-size: 20px;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;

	background-color: var(--green);
	opacity: 0;
}
.final-box * {
	margin: 5px;
	padding: 15px;
}
.final-box.active {
	opacity: 1;
	pointer-events: all;
}
.restart {
	cursor: pointer;
}
