*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	font-size: 10px;
}
.gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: relative;
}
.img-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.gallery img {
	cursor: pointer;
	margin: 0.5rem;
}
.modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.3s ease;
}

.target-img {
	z-index: 100;
}
button {
	margin: 1rem;
	padding: 1rem 1.2rem;
	cursor: pointer;
	outline: none;
	border: 2px solid #fff;
	border-radius: 6px;
	color: #fff;
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
	background-color: transparent;
	transition: all 0.3s ease;
	text-shadow: #333;
}
button:hover {
	background-color: #fff;
	color: #333;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.6);
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s ease;
}

.modal.active {
	transform: scale(1);
}

.overlay.active {
	pointer-events: all;
	opacity: 1;
}
