* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--light);
}
:root {
	--dark: #2f2f2f;
	--grey: #757575;
	--light: #fffbfe;
	--green: #0e7c7b;
	--pink: #ff007f;
	--purple: #8b80f9;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
}
body {
	background-color: var(--purple);
	width: 100%;
	height: 100vh;
}
header {
	font-weight: bold;
	height: 10vh;
	font-size: 3rem;
	letter-spacing: 0.13rem;
	background-color: var(--dark);

	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo {
	letter-spacing: 0.13rem;
}

.plus {
	height: 30px;
	width: 30px;
	position: relative;
}
.plus.active > :nth-child(2) {
	transform: rotate(0);
}
.plus * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% 50%);
	display: block;
	height: 7px;
	width: 30px;
	background-color: var(--pink);
	cursor: pointer;
	transition: all 0.3s ease;
}
.plus > :first-child {
	margin: auto;
}
.plus > :nth-child(2) {
	transform: rotate(90deg);
}

.input-wrapper {
	display: none;
	background-color: var(--dark);
	border-radius: 5px;
	padding: 1rem 0;
	height: fit-content;
	width: 50%;
	margin: 0.7rem auto;
	transition: all 0.2s ease;
}
.input-wrapper.active {
	display: block;
}

input[type='text'] {
	font-size: 2rem;
	padding: 2%;
	margin: 0.5rem 0;
	height: 5vh;
	background-color: var(--dark) !important;
	outline: none;
	border: none;
}
#message,
#message:focus,
#title,
#title:focus {
	background-color: var(--dark) !important;
	width: 100%;
	transition: all 0.2s ease;
}

#title {
	margin: 0;
}
.color-pick {
	position: relative;
	padding-left: 5px;
	display: flex;
	align-items: center;
	width: 100%;
}
input[type='radio'] {
	opacity: 0;
	position: fixed;
	width: 0;
}
.color-pick > label {
	border: 2px solid transparent;
	cursor: pointer;
	border-radius: 50%;
	margin: auto 5px;
	width: 30px;
	height: 30px;
	padding: 5px;
}
.color-pick > label:first-of-type {
	background-color: #d50000;
}
.color-pick > label:nth-of-type(2) {
	background-color: #1b5e20;
}
.color-pick > label:nth-of-type(3) {
	background-color: #0d47a1;
}
.color-pick > label:nth-of-type(4) {
	border-color: #fff;
	background-color: var(--dark);
}
input[type='radio']:checked + label {
	border: 3px solid rgb(77, 228, 77);
}
input[type='radio']:focus + label {
	border: 3px solid #4c4;
}
.sub {
	position: absolute;
	right: 5px;
	cursor: pointer;
	display: block;
	padding: 5px 10px;
	font-size: 2rem;
	border-radius: 6px;
	background-color: var(--grey);
	outline: none;
	border: none;
	transition: all 0.3s ease;
}
.sub:hover {
	background-color: var(--light);
	color: var(--dark);
}
.notes-list {
	margin: 0 10%;
	display: flex;
	flex-wrap: wrap;
	transition: all 0.3s ease;
}
.note {
	word-break: break-word;
	letter-spacing: 0.13rem;
	margin: 0.5rem;
	background-color: var(--dark);
	width: 250px;
	min-height: 250px;
	font-size: 1.8rem;
	border: 5px solid transparent;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 6px;
	padding: 0.5rem;
	position: relative;
	transition: all 0.5s ease;
}
.note > h4 {
	text-align: center;
	display: block;
	width: 80%;
	min-height: 5%;
	margin: 0 10%;
	font-size: 2rem;
}
.note > :nth-child(2) {
	margin: 0.4rem 0;
	flex: 1;
}
.close {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.close:hover {
	color: var(--pink);
}
.pin {
	position: absolute;
	bottom: 5px;
	left: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.pin:hover {
	color: var(--green);
}
